@import "tailwindcss";

:root {
  --color-primary: #012c61;
  --color-secondary: #df1026;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: var(--font-poppins), sans-serif;
}
